.div-content-repairadd {
  border: 1px solid #333;
  height: auto;
  padding: 0 5% 5% 5%;
  margin: 0 5% 5% 5%;
  // background-color: #a3b4c8;
}

.main-select-repair {
  padding: 10px;
  // border: 1px solid #333;

  // box-shadow: 1px 3px #001529;
}

.div-content-main {
  // border: 1px solid #333;
}
.main-content-repair {
  padding: 10px;
  // border: 1px solid #333;
  height: auto;
  // display: flex;
}

.div-select {
  border: 1px solid #333;
}

.div-select-flex {
  display: flex;
}

.test-box {
  border: 1px solid #333;
}

.display-flex-main {
  display: flex;
  justify-content: center;
  height: auto;
  //   border: 1px solid #333;
}

.div-content-chart {
  width: 70%;
}

.content-chart {
  display: flex;

  // border: 1px solid #333;
}

.div-title-detail {
  background-color: #001529;
  height: auto;
}

.title-show-detail {
  padding: 10px;
}

.color-fff {
  color: aliceblue;
}

.color-fff-hover {
  color: aliceblue;
}

.color-fff-hover:hover {
  color: rgb(0, 0, 0);
}


.color-bfbf {
  color: #bfbfbf;
}

.div-p-5 {
  padding: 5%;
  // border: 1px solid #001529;
}

.border {
  border: 1px solid #001529;
}
